.contacts {
  align-items: center;
  background-color: var(--main-black);
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 300px;
  max-height: 700px;
  padding: auto;
  margin:auto;
}

.contacts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

img {
  width: 80px;
  margin: 0 10px;
}

.gmail-container {
  display: flex;
  align-items: center;
}

.ligth-mode-contact {
  background-color: white;
  color: black;
  padding-left: 10%;
  padding-right: 10%;
}

@media only screen and (min-width: 1201px) {
  .contacts {
    height: 700px;
    font-size: 4rem;
  }
}
