@keyframes fadeIn {
  from {
    visibility: hidden;
    transform: translateY(-80px);
  }
  to { 
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    visibility: visible;
    transform: translateY(0);
  }
  to { 
    visibility: hidden;
    transform: translateY(-80px);
  }
}


.nav-portfolio {
  background-color: var(--main-green);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-types {
  border-radius: 25px;
  display: flex;
  width: 15%;
  min-height: 15px;
  max-height: 50px;
  align-content: center;
  align-items: center;
}

.nav-portfolio h1 {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: var(--main-white);
  padding: auto;
  display: flex;
  align-items: center;
}

.nav-portfolio h1:hover {
  color: #274029;
}

.nav-portfolio h1:hover::before {
  content: '<';
  position: absolute;
  left: -20px;
}

.nav-portfolio h1:hover::after {
  content: '>';
  position: absolute;
  right: -20px;
}

@media only screen and (max-width: 600px) {
  .nav-portfolio {
    font-size: 0.5rem;
  }
}
