.projects-page {
  align-items: center;
  background-color: var(--main-black);
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 700px;
  max-height: 2500px;
  padding: auto;
  margin:auto;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repos-box {
  width: 100%;
  min-height: 250px;
  max-height: 500px;
  margin: 0 10px;
  text-align: center;
  font-size: 1.3rem;
  filter: grayscale(70%);
  margin: 15px;
  box-shadow: 5px 10px 3px var(--main-green);
  border-radius: 25px;
}



.repo-personal-wallet {
  background-image: url(../assets/images/personal-wallet.jpg);
  background-size:cover;
}

.repo-app-recipes {
  background-image: url(../assets/images/recipes-image.jpg);
  background-size:cover;
  
}

.repo-movie-cards-library {
  background-image: url(../assets/images/movie-cards.jpg);
  background-size:cover;
}

.repo-planets-search {
  background-image: url(../assets/images/planets-search.jpg);
  background-size:cover;
}

.repo-mytunes {
  background-image: url(../assets/images/mytunes.jpeg);
  background-size:cover;
}

.repos-box p {
  background-color: #080808d5;
  border-radius: 15px;
}

.repos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.links-button {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  justify-content: center;
  
}

.links-button a {
  color: var(--main-white);
  width: 100%;
  height: 25px;
}

.desc-container {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.topic-button {
  background-color: #080808d5;
  border-radius: 10px;
  padding: 3px;
  margin: 5px 10px;
}

.ligth-mode-projects {
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
    h1{
      color: Black;
    }
}

@media only screen and (max-width: 600px) {
  .repos-box {
    font-size: 0.9rem;
  }

  .projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .desc-container {
    width: 100%; 
  }

  .links-button {
    width: 80%;
    margin: 10px 5px;  
    color: var(--main-white); 
    align-items: center;
  }
}

@media only screen and (min-width: 1201px) {
  .repos-box {
    font-size: 2rem;
    max-height: 600px;
  }

  .links-button {
    width: 20%;  
  }

  .links-button a {
    color: var(--main-white);
    width: 100%;
    
  }
}




