.toolbox-page {
  align-items: center;
  background-color: var(--main-green);
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 700px;
  max-height: 1200px;
  text-align: center;
  padding: auto;
  margin:auto;
}

.toolbox-front {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.image-front {
  width: 40px;
  margin: 0px 15px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.ligth-mode-green {
  background-color: rgb(21, 109, 21);
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

@media only screen and (min-width: 1200px) {
  .toolbox-page {
    font-size: 2rem;
  }

  .image-front {
    width: 70px;
    margin: 0px 15px;
  }
}
